@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 97%; /* #F7F7F8 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 195 65% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 86% 60%; /* #ef4444 */
    --destructive-hover: 5 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 195 65% 48%;
    --radius: 0.8rem;
    --chart-1: 195 80% 40%;
    --chart-2: 195 70% 45%;
    --chart-3: 195 60% 50%;
    --chart-4: 195 50% 55%;
    --chart-5: 195 40% 60%;

    --sidebar-background: 205 79% 24%; /* #0e456e */
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 195 65% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 205 79% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 205 79% 30%;
    --sidebar-ring: 195 65% 48%;
  }
  .dark {
    --background: 222 24% 12%; /* #1A1D23 -> adjusted */
    --foreground: 0 0% 98%;
    --card: 222 27% 15%; /* #1E222E */
    --card-foreground: 0 0% 98%;
    --popover: 222 24% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 65% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 222 24% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 24% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 222 24% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 5 70% 40%;
    --destructive-hover: 5 70% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 24% 20%;
    --input: 222 24% 20%;
    --ring: 195 65% 48%;
    --radius: 0.8rem;
    --chart-1: 195 80% 45%;
    --chart-2: 195 70% 50%;
    --chart-3: 195 60% 55%;
    --chart-4: 195 50% 60%;
    --chart-5: 195 40% 65%;
    
    --sidebar-background: 205 79% 24%; /* #0e456e */
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 195 65% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 205 79% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 205 79% 30%;
    --sidebar-ring: 195 65% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
